{% import_yaml 'consul-template/defaults.yaml' as consul_template_default_settings %}

{% set consul_template = salt['pillar.get'](
        'consul_template',
        default=consul_template_default_settings.consul_template,
        merge=True
    )
%}
